In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns

In [6]:
interested_users=pd.read_excel('assignment_data (1).xlsx',sheet_name='Interested Users',parse_dates=True)
booked_users=pd.read_excel('assignment_data (1).xlsx',sheet_name='Booked Users',parse_dates=True)
trainers=pd.read_excel('assignment_data (1).xlsx',sheet_name='Trainers',parse_dates=True)
subscription=pd.read_excel('assignment_data (1).xlsx',sheet_name='Subscription Bought',parse_dates=True)

In [8]:
interested_users.head()

,Child name,phone,email_id,school,grade,batch_preferred,source,Submitted At
0,CH_30001,911100221000,s2m_test_20001@tests2m.com,St.paul's school,Grade 2,"Afternoon Batch (4:00 - 4:45 PM), Evening Batc...",lastchance,2020-04-16 08:46:39
1,CH_30002,911100221001,s2m_test_20002@tests2m.com,K L E School haveri,Grade 4,"Evening Batch (6:15 - 7:00 PM), Morning Batch ...",lastchance,2020-04-16 08:47:55
2,CH_30003,911100221002,s2m_test_20003@tests2m.com,Delhu Public School Howrah,Grade 2,"Morning Batch (11:15 - 12:00 PM), Evening Batc...",lastchance,2020-04-16 08:47:59
3,CH_30004,911100221003,s2m_test_20004@tests2m.com,Bharathi vidya bhavans,Grade 2,"Evening Batch (6:15 - 7:00 PM), Afternoon Batc...",lastchance,2020-04-16 08:48:27
4,CH_30005,911100221004,s2m_test_20005@tests2m.com,Army public school Delhi cantt,Grade 4,"Evening Batch (6:15 - 7:00 PM), Afternoon Batc...",lastchance,2020-04-16 08:52:06

In [9]:
booked_users.head()

,Invitee UUID,Batch,Enrolment Type,Child Name,Grade,School,Phone,Parent Email,Opted Start Time,Opted Start Date,Facilitator UUID,Attendance
0,AGIV7AYTBF4ZA6SA,"fREADom Trial Class - Grades 1, 2 [I] 11:15am ...",Trial,CH_31440,Grade 2,DPS,911100222445,s2m_test_21459@tests2m.com,16-04-2020 11:15:00,"11:15am - Thursday, April 16, 2020",AEFDOHX57EFVUS2G,Present
1,HAPQZDZXDJPMFZ73,"fREADom Trial Class - Grades 1, 2 [I] 11:15am ...",Trial,CH_31441,Grade 2,DPS,911100222446,s2m_test_21460@tests2m.com,16-04-2020 11:15:00,"11:15am - Thursday, April 16, 2020",AEFDOHX57EFVUS2G,Present
2,AHLT5B5XGJTONPE3,"fREADom Trial Class - Grades 1, 2 [I] 11:15am ...",Trial,CH_31442,Grade 2,City Montessori school lucknow,911100222447,s2m_test_21461@tests2m.com,16-04-2020 11:15:00,"11:15am - Thursday, April 16, 2020",AEFDOHX57EFVUS2G,Absent
3,HCNR5B2SFMSX727O,"fREADom Trial - Grades 3, 4 [I] 11:15am - Thu...",Trial,CH_31443,Grade 4,Reliance Foundation,911100222448,s2m_test_21462@tests2m.com,16-04-2020 11:15:00,"11:15am - Thursday, April 16, 2020",CDBCIBX6WD5NGCEZ,Absent
4,BFIT2F3UDJ5MV5GT,"fREADom Trial - Grades 3, 4 [I] 11:15am - Thu...",Trial,CH_31444,Grade 3,KRS,911100222449,s2m_test_21463@tests2m.com,16-04-2020 11:15:00,"11:15am - Thursday, April 16, 2020",CDBCIBX6WD5NGCEZ,Present

In [10]:
trainers.head()

,Trainer Name,Date,Timing,Grade,Batch size,Batch count,Batch,Topics
0,FAC_5001,16 April Thursday,11.15 am - 12 noon,"Grade 1,2",group,9.0,trial I,Rocking with rhymes
1,FAC_5002,16 April Thursday,11.15 am - 12 noon,"Grade 3,4",group,9.0,trial I,In my mind's eye
2,FAC_5003,16 April Thursday,11.15 am - 12 noon,"Grade 1,2",group,9.0,trial II,Word Whiz
3,FAC_5006,16 April Thursday,11.15 am - 12 noon,"Grade 3,4",group,7.0,trial II,Rocking with rhymes
4,FAC_5007,16 April Thursday,4:00-4:45 pm,"Grade 3,4",group,9.0,trial I,In my head or real

In [12]:
subscription.head()

,Child Name,Registered Number,Registered Email ID,Payment date,Sale by,Grade,Pricing,Duration,Sessions preferred,Live session details
0,CH_31846,9.111002e+11,s2m_test_21890@tests2m.com,16-03-2020 12:00:00 AM,SP_1001,2,199,0.5,NaN,NaN
1,CH_31847,9.111002e+11,NaN,16-03-2020 12:00:00 AM,SP_1002,4,199,0.5,NaN,NaN
2,CH_31848,9.111002e+11,s2m_test_21891@tests2m.com,16-03-2020 12:00:00 AM,NaN,4,199,0.5,NaN,NaN
3,CH_31849,9.111002e+11,s2m_test_21440@tests2m.com,16-03-2020 12:00:00 AM,SP_1004,3,199,0.5,NaN,NaN
4,CH_31850,9.111002e+11,s2m_test_21892@tests2m.com,17-03-2020 12:00:00 AM,NaN,5,199,1,NaN,NaN

In [51]:
subscription.drop(subscription[subscription.applymap(np.isreal)['Pricing']==False].index,inplace=True)

In [54]:
subscription[subscription['Pricing']>499]

,Child Name,Registered Number,Registered Email ID,Payment date,Sale by,Grade,Pricing,Duration,Sessions preferred,Live session details
12,CH_31858,9.111002e+11,s2m_test_21900@tests2m.com,18-03-2020 12:00:00 AM,NaN,2,999,4G+1I,NaN,Live - Upsell (Larger plan)
15,CH_31860,9.111002e+11,s2m_test_21903@tests2m.com,18-03-2020 12:00:00 AM,NaN,4,1999,12G,NaN,Live - Upsell (Larger plan)
23,CH_31868,9.111002e+11,s2m_test_21911@tests2m.com,19-03-2020 12:00:00 AM,NaN,1,1999,10G+2I,NaN,Live - Upsell (Larger plan)
27,CH_31872,9.111002e+11,s2m_test_21915@tests2m.com,19-03-2020 12:00:00 AM,SP_1001,2,1999,10G+2I,NaN,Live - Upsell (Larger plan)
31,CH_31876,9.111002e+11,s2m_test_21919@tests2m.com,20-03-2020 12:00:00 AM,NaN,1,999,4G+1I,NaN,Live - Upsell (Larger plan)
...,...,...,...,...,...,...,...,...,...,...
413,CH_32081,9.111002e+11,s2m_test_22161@tests2m.com,2020-04-27 00:00:00,SP_1005,2,1999,12G + 1yr,Assigned,NaN
414,CH_32082,9.111002e+11,s2m_test_22162@tests2m.com,2020-04-27 00:00:00,SP_1012,3,1999,10G +1 yr,Assigned,NaN
415,CH_31831,9.111002e+11,s2m_test_21876@tests2m.com,2020-04-27 00:00:00,SP_1005,3,1999,14G + 1yr,Assigned,NaN
416,CH_32079,9.111002e+11,s2m_test_22158@tests2m.com,2020-04-27 00:00:00,SP_1005,2,1999,12G + 1yr,NaN,NaN
417,CH_32083,9.111002e+11,s2m_test_21404@tests2m.com,2020-04-27 00:00:00,SP_1012,4,1999,10G + 1Yr,Morning,NaN

In [67]:
sales_subscr=subscription[subscription['Pricing']>=499]

In [68]:
sales_subscr.head()

,Child Name,Registered Number,Registered Email ID,Payment date,Sale by,Grade,Pricing,Duration,Sessions preferred,Live session details
12,CH_31858,9.111002e+11,s2m_test_21900@tests2m.com,18-03-2020 12:00:00 AM,NaN,2,999,4G+1I,NaN,Live - Upsell (Larger plan)
15,CH_31860,9.111002e+11,s2m_test_21903@tests2m.com,18-03-2020 12:00:00 AM,NaN,4,1999,12G,NaN,Live - Upsell (Larger plan)
23,CH_31868,9.111002e+11,s2m_test_21911@tests2m.com,19-03-2020 12:00:00 AM,NaN,1,1999,10G+2I,NaN,Live - Upsell (Larger plan)
27,CH_31872,9.111002e+11,s2m_test_21915@tests2m.com,19-03-2020 12:00:00 AM,SP_1001,2,1999,10G+2I,NaN,Live - Upsell (Larger plan)
31,CH_31876,9.111002e+11,s2m_test_21919@tests2m.com,20-03-2020 12:00:00 AM,NaN,1,999,4G+1I,NaN,Live - Upsell (Larger plan)

In [69]:
sales_subscr.groupby('Child Name')['Pricing'].sum()

Child Name
CH_30004    1999
CH_30013    1999
CH_30028    1999
CH_30040     999
CH_30054    2000
            ...
CH_32079    3998
CH_32080    1999
CH_32081    1999
CH_32082    1999
CH_32083    1999
Name: Pricing, Length: 249, dtype: int64